body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,121,9,1) 0%, rgba(0,212,255,1) 100%);
}

.todo-list-item__trash button, button {
  border: none;
  background-color: #ffffff;
}

input {
  width: 300px;
  height: 80%;
}

