.home-info{
    position: relative;
}
h2{
    color: azure;;
    font-size: 45px;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 30px;
    color: cyan;
}

.subscription,.label-subscribe{
    position: relative;
}
