/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0 5%;
  background: rgb(223, 14, 76);
  background: radial-gradient(circle, rgb(129, 75, 111) 0%, rgb(233, 89, 137) 100%);
}

.example-container, form, button {
  border-radius: 20px !important;
}

form {
  background: rgb(10, 10, 10);
  padding: 20px;
}

h1 {
  color: #4b4949;
  font-size: 40px;
  font-family: sans-serif;
}

